# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env

# Credentials for google cloud
credentials.json

# pickle token
token.pickle
token.json